<app-menunav></app-menunav>
<div class="flow-root">
	<div class="m-4 p-2 bg-white border border-gray-200 rounded-lg shadow">
		<ul role="list" class="divide-y divide-gray-200">
			<li>
				<div class="flex items-center space-x-4">
					<div class="flex-shrink-0">
						<img class="w-32 h-32" src="../../../assets/images/edho-pratama-T6fDN60bMWY-unsplash.jpg" alt="Item Image">
					</div>
					<div class="flex-1 min-w-0">
						<p class="text-sm font-medium text-gray-900">
							ITEM NAME
						</p>
						<p class="text-sm text-gray-500">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptates laboriosam dolores perferendis
							odio natus fugiat aperiam, id vel ipsa atque cumque obcaecati aut, aliquam officiis est magnam mollitia
							eaque.
						</p>
						<div class="space-x-4 float-right">
							<div class="inline-flex items-center text-base font-semibold text-gray-900">
								SM: $5.00
							</div>
							<div class="inline-flex items-center text-base font-semibold text-gray-900">
								MED: $10.00
							</div>
							<div class="inline-flex items-center text-base font-semibold text-gray-900">
								LG: $15.00
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
